{% extends "base.html" %}

{% block content %}
    <div class="container page-header">
        <h1>Добавление нового отчета</h1>
    </div>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.file_report.label }} <br/>
                {{ form.file_report(size=64) }} <br/>

                {% for error in form.file_report.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}
