{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='text.css') }}">

<div class="col-md-3">
    <ul class="list-group">
        {% for platform in platform_list %}
            <li class="list-group-item">{{ platform.name }}
            {% for course in course_list %}
                <ul class="list-group">
                {% if course.platform_id == platform.id %}
                        <li class="list-group-item"><a href="/course_info/{{ course.id }}">{{ course.course_name.capitalize() }}</a></li>
                {% endif %}
                </ul>
            {% endfor %}
        {% endfor %}
            </li>
    </ul>
</div>

<div class="col-md-9">
    <div class="col-md-offset-3 col-md-6">
        <h1>{{ course_name.capitalize() }}</h1>
    </div>

    <div class="col-md-offset-2 col-md-6">
        <table class="bordered" width="100%">
            <tr>
                <td>Последняя доступная выгрузка:</td>
                <td>{{ session_name }} -
                    <script type="text/javascript">
                        document.write(moment("{{ time_report }}", "YYYY-MM-DD").format("DD.MM.YYYY"));
                    </script>
                </td>
            </tr>
            <tr>
                <td>Общее количество слушателей:</td>
                <td>{{ stud_list[0] }}</td>
            </tr>
            <tr>
                <td>Количество слушателей на треке с прокторингом:</td>
                <td>{{ stud_list[1] }}</td>
            </tr>
            <tr>
                <td>Количество студентов:</td>
                <td>{{ stud_list[2] }}</td>
            </tr>


        </table>
    </div>
    <div class="col-md-9">
        <h4>Доступные выгрузки по курсу</h4>
            <div class="col-md-6" style="height:100px;">
                <ul>
                    {% for report in reports_list %}
                        <li>
                            {{ report.session.session_name }} -
                                <script type="text/javascript">
                                     document.write(moment("{{ report.date_report }}", "YYYY-MM-DD").format("DD.MM.YYYY"));
                                </script>
                                <a target="_blank" href="/chart/{{report.id}}">
                                    (Посмотреть график)
                                </a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>

</div>




{% endblock %}